# Ignore node_modules folder
node_modules/

# Ignore Tailwind input file
src/input.css

# Ignore Tailwind config files
tailwind.config.js


# Ignore package-lock and yarn.lock files
package-lock.json
